/* Basics */
body {
	color: #000;
	background: none #F5DEB3;
	font-family: verdana, sans-serif;
        padding: 0 1em 0.5em 1em;
}
h1, h2, h3, h4, h5, h6 { 
    margin-bottom: 0.2em; 
    clear: both;
}
h1 { color: #32611F }
h2, h3, h4, h5, h6 	{ color: #1F3D14; }
p { margin-top: 0px; }

ul 	{ margin-top: 0px; }
code 	{ color: #900; }
q 		{ font-style: italic; }

a:link 		{ color: #33f; }
a:visited 	{ color: #808; }
a:active 	{ color: #f00; }

#zoom-display {
    position: relative;
    height: 900px;
    border: 1px solid black;
    overflow: hidden;
}

#infobox {
    width: 0px; height: 0px;
    left: 10px;
    top: 100px;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
    visibility: hidden;

    border: 3px solid red;
}

#header {
    left: 0;
    top: 0;
    width: 20em;
    height: 1.2em;
    position: absolute;
    z-index: 9;
    
    background: #FFFFFF;
    opacity: 0.9;
    text-align: center;
    visibility: hidden;
    pointer-events: all;
    
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-top: 3px solid red;
    border-right: 3px solid red;
    border-left: 3px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#footer {
    left: 0;
    top: 0;
    width: 20em;
    position: absolute;
    z-index: 9;
    
    background: #FFFFFF;
    opacity: 0.9;
    pointer-events: none;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    
    padding: 0.5em 1em 0.5em 1em;
    border-right: 3px solid red;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
