/* Basics */
body {
	color: #000;
	background: none #F5DEB3;
	font-family: verdana, sans-serif;
        padding: 0 1em 0.5em 1em;
}
h1, h2, h3, h4, h5, h6 { 
    margin-bottom: 0.2em; 
    clear: both;
}
h1 { color: #32611F }
h2, h3, h4, h5, h6 	{ color: #1F3D14; }
p { margin-top: 0px; }

ul 	{ margin-top: 0px; }
code 	{ color: #900; }
q 		{ font-style: italic; }

a:link 		{ color: #33f; }
a:visited 	{ color: #808; }
a:active 	{ color: #f00; }

#zoom-display {
    position: relative;
    height: 900px;
    border: 1px solid black;
    overflow: hidden;
}

#infobox {
    width: 0px; height: 0px;
    left: 10px;
    top: 100px;
    border: 3px solid red;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
    visibility: hidden;
}
.boxtext {
    background: white;
    pointer-events: auto;
}
